Flask==3.0.3
imbalanced_learn==0.12.3
imblearn==0.0
ipython==8.12.3
matplotlib==3.3.4
neptune_client==0.14.3
numpy==1.24.3
pandas==2.0.3
PyYAML==6.0
PyYAML==6.0.2
schedule==1.1.0
scikit_learn==1.0.2
seaborn==0.11.2
tensorflow==2.13.1
tensorflow_addons==0.23.0
